@model Wedding
<h1>Add Wedding</h1>
<body>
<form asp-action="CreateWedding" asp-controller="Wedding" method="post">
        <span asp-validation-for="WedderOne"></span><br>
        <label asp-for="WedderOne"></label><br>
        <input asp-for="WedderOne"><br>
        <span asp-validation-for="WedderTwo"></span><br>
        <label asp-for="WedderTwo"></label><br>
        <input asp-for="WedderTwo"><br>
        <span asp-validation-for="WeddingAddress"></span><br>
        <label asp-for="WeddingAddress"></label><br>
        <input asp-for="WeddingAddress"><br>
        <span asp-validation-for="Date"></span><br>
        <label asp-for="Date"></label><br>
        <input type ="date" asp-for="Date"><br>
<button>Add Wedding</button>
</form>

</body>
